.chart-container {
  display: block;
  position: relative;
}
.w100 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: block;
}

mat-card-header{
  background:#e7dfc9;
  padding: 5px;
  color:black;
}
mat-card-content{
  padding: 10px;
}

.paddingHeader{
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}

mat-card{
  padding:0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 500px;
}
