<br>
<div class="container-fluid" style="width: 100%;">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title><i class="fa fa-street-view fa-sm"></i> Actividades: </mat-card-title>
  </mat-card-header>

          <mat-card-content>
                          <ul class="timeline timeline-left">
                              <li *ngFor="let item of actividadesData" class="timeline-inverted timeline-item">
                                  <div class="timeline-badge success">
                                      <img src={{item.Foto}} alt="img" class="img-fluid"> </div>
                                  <div class="timeline-panel">
                                      <div class="timeline-heading">
                                          <h3 class="timeline-title">{{item.NOMBRE}} - ({{item.USUARIO}})</h3>
                                          <p>
                                              <small class="text-muted" style="font-size: 20px;">
                                                  <i class="fa fa-clock-o" ></i> {{item.FCH_REG| date:'dd-MM-yyyy HH:mm a'}}</small>
                                          </p>
                                      </div>
                                      <div class="timeline-body">
                                          <p style="font-size: 18px;">{{item.ACTIVIDAD}}</p>
                                      </div>
                                  </div>
                              </li>
                          </ul>
          </mat-card-content>

  </mat-card>
</div>
<br>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#ffffff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
